@{
    ViewBag.Title = "Document";
}
<h1>
    MVC 4 Paging
</h1>
<div id="intro">
    <h2>
        Intro</h2>
    <p>
        MVC 4 paging with Bootstrap Paging or without bootstrap also run that simplifies
        the rendering of Bootstrap Pagination component.
    </p>
    <div class="row-fluid">
        <h2>
            Documentation</h2>
        <h3>
            Structure Explained</h3>
    </div>
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        <h4>
            Info!</h4>
        Document will be ready too soon publish in short time...
    </div>
</div>
